extends ./../layouts/admin.pug

block content
    h1 Genre: #{genre.name}
    if movies.length > 0
        h4 Movies with that genre
        each movie in movies 
            div(class="card" style="margin-bottom: 10px")
                div(class="card-body clearfix")
                    p(class="text-uppercase float-left mr-2") Movie: 
                    p(class="font=weight-bold float-left") #{movie.title}
                    a(href=movie.url+"/details" class="btn btn-primary btn-sm float-right") Details
    else 
        .card
            .card-body
                h4 This genre has no movies 

    a(href=genre.url + "/update" class="btn btn-primary btn-sm float-left mr-2") Update
    a(href=genre.url + "/delete" class="btn btn-primary btn-sm") Delete 